<header id="header" class="transition-all ease-in-out ">
  <div class="flex flex-row justify-between  container mx-auto  w-11/12
    items-center transition-all delay-100 ease-in-out  py-8"  [class.border-b]="underline"> 
  
    <span> <a href="#"><img src="../assets/Flavia-Logo.svg" alt="Flavia Frigeri" class="flavia-logo"></a> </span>
  
    <nav class="flex-row space-x-6 hidden lg:flex" >
      <a [routerLink]="['/home']">Home</a>
      <a [routerLink]="['/about']">About</a>
      <a [routerLink]="['/exhibitions']">Exibitions</a>
      <a [routerLink]="['/books']">Books</a>
      <a [routerLink]="['/essays']">Essays</a>
      <a [routerLink]="['/teaching']">Teaching</a>
      <a [routerLink]="['/talks']">Talks</a>
      <a [routerLink]="['/contact']">Contact</a>
    </nav>

    <div class="menu-icon lg:hidden"  (click)="toggleMenu()" >
      <input class="menu-icon__cheeckbox" type="checkbox" />
      <div>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="nav" [class.nav-active]="isMobileMenuActive" >
      <div class="nav__content">
        <ul class="nav__list flex flex-col laptop:flex-row " (click)="toggleMenu()">
          <li class="nav__list-item"><a [routerLink]="['/home']">Home</a></li>
          <li class="nav__list-item"><a [routerLink]="['/about']" href="#">About</a></li>
          <li class="nav__list-item"><a [routerLink]="['/exhibitions']" href="#">Exibition</a></li>
          <li class="nav__list-item"><a [routerLink]="['/books']">Books</a></li>
          <li class="nav__list-item"><a [routerLink]="['/essays']">Essays</a></li>
          <li class="nav__list-item"> <a [routerLink]="['/teaching']">Teaching</a></li>
          <li class="nav__list-item"><a [routerLink]="['/talks']">Talks</a></li>
          <li class="nav__list-item"><a [routerLink]="['/contact']">Contact</a></li>
        </ul>
      </div>
      <div class="social-media">
        <div>
          <a href="https://www.instagram.com/flavia_fffff/" target="_blank">
            <img src="../assets/insta.svg" alt="Instagram" />
          </a>
        </div>
        <div>
          <a href="https://uk.linkedin.com/in/flavia-frigeri-3610b222/en-us" target="_blank">
            <img src="../assets/Linkedin.svg" alt="Linkedin" />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>