<footer flaviaEnterViewport class="py-24 main-container mx-auto md:px-4 px-3">
  <hr />
  <div class="footer-container">
    <div class="stay-in-touch">
      <div class="contact">
        <div>
          Email:
          <a href="mailto:flavia.frigeri@gmail.com">flavia.frigeri@gmail.com</a>
        </div>
        <div>Mobile: +1 (929) 356-6087</div>
      </div>
      <div class="social-media">
        <div>
          <a href="https://www.instagram.com/flavia_fffff/" target="_blank">
            <img src="../assets/insta.svg" alt="Instagram" />
            <span>Instagram</span>
          </a>
        </div>
        <div>
          <a href="https://uk.linkedin.com/in/flavia-frigeri-3610b222/en-us" target="_blank">
            <img src="../assets/Linkedin.svg" alt="Linkedin" />
            <span>Linkedin</span>
          </a>
        </div>
      </div>
    </div>
    <div class="copyright">
      COPYRIGHT © 2021 FLAVIA FRIGERI SITE BY
      <a class="elsa" href="https://www.elsabenoldi.com" target="_blank">ELSA BENOLDI</a>
      
    </div>
  </div>
</footer>
