@import '../../../styles.scss';

.container {
  @include font-aktiv-regular;
  color: $flavia-grey;
  line-height: 35px;
  padding-bottom: 0 !important;

  .footer-container {
    padding: 35px 0;

    .stay-in-touch {
      display: flex;
      justify-content: space-between;

      @include breakpoint-less(md) {
        flex-direction: column;
      }

      .contact {
        >div {
          position: relative;
        }

        a {
          @include underline($flavia-grey);
          z-index: 3;
        }
      }


    }

    .copyright {
      margin-top: 40px;
      line-height: 1.5rem;
    }
  }

  .elsa {
    a {
      @include underline($flavia-grey, visible);
    }
  }
}