<flavia-header></flavia-header>

<picture *ngIf="assets">
  <source media="(max-width: 599px)" srcset="{{cmsUrl + assets.mainImageMobile.url}}">
  <source media="(min-width: 600px)" srcset="{{cmsUrl + assets.mainImageLarge.url}}">
  <img flaviaEnterViewport class="w-full flavia-main-picture" src="{{cmsUrl + assets.mainImageLarge.url}}" alt="Flavia Home Page Curator London Italy">
</picture>


<flavia-loader *ngIf="loadingAssets"></flavia-loader>

<flavia-quote *ngIf="assets">
  {{ assets.introQuote}}
</flavia-quote>

<flavia-upcoming></flavia-upcoming>