@import '../../../styles.scss';



.flavia-main-picture {
  margin-top: 84px;
}
.main-tile{
  .book-article {
    background-color: #f4f4f4;
    text-align: center;
    padding: 4% 0;
  
    .article-img {
      width: 33%;
      margin: auto;
    }
  }
}