<flavia-header></flavia-header>

<picture >
  <source media="(max-width: 599px)" srcset="../assets/Flavia-mobile.jpg">
  <source media="(min-width: 600px)" srcset="../assets/flavia-tate-slideshow1.png">
  <img flaviaEnterViewport class="w-full flavia-main-picture" src="../assets/flavia-tate-slideshow1.png" alt="Flavia Home Page Curator London Italy">
</picture>

<flavia-quote >
  Flavia Frigeri is an art historian, curator, and teaching fellow at
  University College London. Frigeri is the author of Pop Art and Women
  Artists, both in Thames & Hudson’s Art Essentials series.
</flavia-quote>

<flavia-upcoming></flavia-upcoming>