<picture *ngIf="assets">
  <source media="(max-width: 599px)" srcset="{{cmsUrl + assets.mainImageMobile.url}}">
  <source media="(min-width: 600px)" srcset="{{cmsUrl + assets.mainImageLarge.url}}">
  <img flaviaEnterViewport class="w-full flavia-main-picture" src="{{cmsUrl + assets.mainImageLarge.url}}" alt="Flavia Home Page Curator London Italy">
</picture>

<div class="mt-32" *ngIf="loadingAssets">
  <flavia-loader ></flavia-loader>
</div>
<flavia-quote *ngIf="assets">
  {{ assets.introQuote}}
</flavia-quote>

<!-- <section flaviaEnterViewport class="main-tile  py-4 lg:py-12 flex-col lg:flex-row flex container mx-auto  w-11/12" *ngIf="exhibition">
    <picture class="lg:w-1/2" >
      <source media="(max-width: 599px)" srcset="{{ cmsUrl + exhibition.image.formats.small?.url}}">
          <img   flaviaEnterViewport  srcset="{{ cmsUrl + exhibition.image.formats.small?.url}} 2x" src="{{ exhibition.image.formats.small?.url}}" alt="Flavia Home Page Curator London Italy">
    </picture>
  <div class="w-full lg:w-1/2 content-container lg:ml-32 flex flex-col">
    <div class="title  flex py-8 lg:py-0 lg:mb-4">
      <h3>LATEST</h3>
      <span class="hr-line flex-grow">&nbsp;</span>
    </div>
    <div class="flex-grow flex flex-col justify-center">
      <div class="content mb-6">
        <h2 class="mb-2">{{exhibition.title }}</h2>
        <h3 class="mb-6">{{exhibition.location }}</h3>
        <p>
          {{exhibition.description}}
        </p>
      </div>
      <div class="link" *ngIf="exhibition.readMoreLink"> <a href="{{exhibition.readMoreLink}}" alt="Read More" target="_blank">Read more</a> </div>
    </div>
  </div>
</section> -->

<section flaviaEnterViewport class="main-tile  py-4 lg:py-12 flex-col lg:flex-row flex container mx-auto  w-11/12" *ngIf="exhibition">
  <div class="lg:w-1/2" [class.book-article]="isBookArticle">
    <picture  >
      <source media="(max-width: 599px)" srcset="{{ cmsUrl + exhibition.image.formats.small?.url}}">
          <img   flaviaEnterViewport class="article-img"  srcset="{{ cmsUrl + exhibition.image.formats.small?.url}} 2x" src="{{ exhibition.image.formats.small?.url}}" alt="Flavia Home Page Curator London Italy">
    </picture>
  </div>
<div class="w-full lg:w-1/2 content-container lg:ml-32 flex flex-col">
  <div class="title  flex py-8 lg:py-0 lg:mb-4">
    <h3>LATEST</h3>
    <span class="hr-line flex-grow">&nbsp;</span>
  </div>
  <div class="flex-grow flex flex-col justify-center">
    <div class="content mb-6">
      <h2 class="mb-2">{{exhibition.title }}</h2>
      <h3 class="mb-6">{{exhibition.location }}</h3>
      <p>
        {{exhibition.description}}
      </p>
    </div>
    <div class="link" *ngIf="exhibition.readMoreLink"> <a href="{{exhibition.readMoreLink}}" alt="Read More" target="_blank">Read more</a> </div>
  </div>
</div>
</section>