<flavia-header [underline]="true"></flavia-header>
<div class="container mx-auto  w-11/12 py-6 lg:py-24 flex flex-col">
  <h2 class="mb-10 mt-20 lg:mt-12">TEACHING</h2>
  <div class="teaching-container flex flex-col flex-wrap w-full  lg:w-2/3 self-end" *ngFor="let article of teachings">
    <section flaviaEnterViewport class="section flex-col md:flex-row flex lg:m-8  w-full md:pr-8 mr-0 lg:pr-16 py-8" >
      <div class="w-full  content-container flex flex-col">
        <div class="flex-grow flex flex-col justify-center">
          <div class="content mb-6">
            <h2 class="mb-2">{{ article.title }}</h2>
            <h3 class="mb-6">{{ article.title }}</h3>
            <p class="article">
              {{article.description}}
            </p>
          </div>
          <div class="link mb-8"  *ngIf="article.readMoreLink"> <a href="{{article.readMoreLink}}" alt="Read More" target="_blank">Read more</a> </div>
        </div>
      </div>
    </section>
    <hr />
  </div>
</div>