
<section flaviaEnterViewport class="upcoming  py-4 lg:py-12 flex-col lg:flex-row flex container mx-auto  w-11/12">
  <picture class="w-full lg:w-1/2">
    <source media="(max-width: 599px)" srcset="../assets/upcoming.png">
    <img flaviaEnterViewport class="w-full" srcset="../assets/upcoming@2x.png 2x" src="../assets/upcoming.png" alt="Flavia Home Page Curator London Italy">
  </picture>
  <div class="w-full lg:w-1/2 content-container lg:ml-32 flex flex-col">
    <div class="title  flex py-8 lg:py-0">
      <h3>UPCOMING</h3>
      <span class="hr-line flex-grow">&nbsp;</span>
    </div>
    <div class="flex-grow flex flex-col justify-center">
      <div class="content mb-6">
        <h2 class="mb-2">GREAT WOMEN ARTIST</h2>
        <h3 class="mb-6">NATIONAL PORTRAIT GALLERY</h3>
        <p>
          Flavia Frigeri is an art historian, curator, and teaching fellow 
          at University College London. Frigeri is the author of Pop Art and Women Artists, 
          both in Thames & Hudson’s Art Essentials series.
        </p>
      </div>
      <div class="link"> <a href="">Read more</a> </div>
    </div>
  </div>
</section>