<flavia-header [underline]="true"></flavia-header>
<div class="container mx-auto  w-11/12 py-6 lg:py-24" >
  <h2 class="mb-10 mt-20 lg:mt-12">CONTACT</h2>
  <section flaviaEnterViewport class="main-tile py-4 lg:py-12 flex-col lg:flex-row flex">
    <div class="w-full lg:w-1/2 content-container lg:mr-32 flex flex-col">
      <div class="title  flex py-8 lg:py-0 lg:mb-16">
        <p>FOR INFO & COLLABORATIONS PLEASE GET IN TOUCH </p>

      </div>
      <div class="contact">
        <p class=" mb-4">
          <span>EMAIL:</span> <a href="mailto:flavia.frigeri@gmail.com" class="underline">flavia.frigeri@gmail.com</a>
        </p>
        <p>
          <span>MOBILE:</span>  +1 (929) 356-6087
        </p>
      </div>
    </div>
    </section>
</div>