
<div class="mt-32" *ngIf="!exhibitions">
  <flavia-loader ></flavia-loader>
</div>
<div class="container mx-auto  w-11/12 py-6 lg:py-24" *ngIf="staticContent">
  <h2 class="mb-10 mt-20 lg:mt-12">EXHIBITIONS</h2>
  <section flaviaEnterViewport class="py-8 lg:py-12 flex-col lg:flex-row flex">
    <div class="w-full lg:w-1/2 content-container lg:mr-32 flex flex-col">
      <div class="flex-grow flex flex-col justify-center">
        <div class="content mb-6 page-intro" [innerHtml]="staticContent.intro | MarkdownToHtml"></div>
      </div>
    </div>

    <picture class="w-full lg:w-1/2 mt-8 lg:mt-0">
      <source media="(max-width: 599px)" srcset="{{ cmsUrl + staticContent.introImage.formats.small.url}}">
      <img flaviaEnterViewport class="w-full" srcset="{{ cmsUrl + staticContent.introImage.url}} 2x" src="{{ cmsUrl + staticContent.introImage.formats.small.url}}" alt="Flavia Exhibitions Curator London Italy">
    </picture>
    
  </section>

  <div class="title  flex py-8 lg:py-0">
    <h3>EXHIBITIONS</h3>
    <span class="hr-line flex-grow">&nbsp;</span>
  </div>
  <ng-container *ngIf="exhibitions">
    <section flaviaEnterViewport class="main-tile  py-4 lg:py-12 flex-col lg:flex-row flex container mx-auto  w-11/12 mb-8 lg:mb-0" *ngFor="let article of exhibitions">
      <picture class="w-full lg:w-1/2 mb-8 lg:mb-0">
        <source media="(max-width: 599px)" srcset="{{ cmsUrl + article.image.formats.small.url}}">
        <img flaviaEnterViewport class="w-full" srcset="{{ cmsUrl + article.image.url}} 2x" src="{{ cmsUrl + article.image.formats.small.url}}" alt="Flavia Home Page Curator London Italy">
      </picture>
      <div class="w-full lg:w-1/2 content-container lg:ml-32 flex flex-col">
        <div class="flex-grow flex flex-col justify-center">
          <div class="content mb-6">
            <h2 class="mb-2">{{ article.title }}</h2>
            <h3 class="mb-6">{{ article.location }}</h3>
            <p class="article">
              {{article.description}}
            </p>
          </div>
          <div class="link" *ngIf="article.readMoreLink"> <a href="{{article.readMoreLink}}" alt="Read More" target="_blank">Read more</a> </div>
        </div>
      </div>
    </section>
  </ng-container>

</div>
