<flavia-header [underline]="true"></flavia-header>

<div class="container mx-auto  w-11/12 py-6 lg:py-24">
  <h2 class="mb-10 mt-20 lg:mt-12">EXHIBITIONS</h2>
  <section flaviaEnterViewport class="upcoming py-4 lg:py-12 flex-col lg:flex-row flex">
    <div class="w-full lg:w-1/2 content-container lg:mr-32 flex flex-col">
      <div class="title  flex py-8 lg:py-0">
        <h3>UPCOMING</h3>
        <span class="hr-line flex-grow">&nbsp;</span>
      </div>
      <div class="flex-grow flex flex-col justify-center">
        <div class="content mb-6">
          <h2 class="mb-2">GREAT WOMEN ARTIST</h2>
          <h3 class="mb-6">NATIONAL PORTRAIT GALLERY</h3>
          <p>
            Flavia Frigeri is an art historian, curator, and teaching fellow at University College London. Frigeri is the author of Pop Art and Women Artists, 
            both in Thames & Hudson’s Art Essentials series.
            Botond Reszegh is a Hungarian artist who lives and works in Miercurea Ciuc, a small, quiet, mountain rimmed town in Eastern Transylvania, Romania. 
            He is a graphic artist, painter, illustrator and thinker, and works as the art director of Új Kriterion/New Criterion – the leading contemporary art gallery in his hometown. Susie MacMurray’s ‘Murmur’ is constructed of ostrich feather barbs bound together in pairs with thread, 
            their tips sealed with wax Ostrich feather barbs, piano wire, fish hooks, wax and upholstery artworks.
          </p>
        </div>
        <div class="link"> <a href="">Read more</a> </div>
      </div>
    </div>

    <picture class="w-full lg:w-1/2 mt-8 lg:mt-0">
      <source media="(max-width: 599px)" srcset="../assets/upcoming.png">
      <img flaviaEnterViewport class="w-full" srcset="../assets/upcoming@2x.png 2x" src="../assets/upcoming.png" alt="Flavia Home Page Curator London Italy">
    </picture>
    
  </section>

  <div class="title  flex py-8 lg:py-0">
    <h3>Past</h3>
    <span class="hr-line flex-grow">&nbsp;</span>
  </div>

  <section flaviaEnterViewport class="upcoming  py-4 lg:py-12 flex-col lg:flex-row flex container mx-auto  w-11/12 mb-8 lg:mb-0" *ngFor="let article of [1,2,3]">
    <picture class="w-full lg:w-1/2 mb-8 lg:mb-0">
      <source media="(max-width: 599px)" srcset="../assets/upcoming.png">
      <img flaviaEnterViewport class="w-full" srcset="../assets/upcoming@2x.png 2x" src="../assets/upcoming.png" alt="Flavia Home Page Curator London Italy">
    </picture>
    <div class="w-full lg:w-1/2 content-container lg:ml-32 flex flex-col">
      <div class="flex-grow flex flex-col justify-center">
        <div class="content mb-6">
          <h2 class="mb-2">GREAT WOMEN ARTIST</h2>
          <h3 class="mb-6">NATIONAL PORTRAIT GALLERY</h3>
          <p class="article">

            Flavia Frigeri is an art historian, curator, and teaching fellow 
            at University College London. Frigeri is the author of Pop Art and Women Artists, 
            both in Thames & Hudson’s Art Essentials series.
          </p>
        </div>
        <div class="link"> <a href="">Read more</a> </div>
      </div>
    </div>
  </section>
</div>
