
<div class="mt-32" *ngIf="!books">
  <flavia-loader ></flavia-loader>
</div>
<div class="container mx-auto  w-11/12 py-6 lg:py-24" *ngIf="books">
  <h2 class="mb-10 mt-20 lg:mt-12">BOOKS</h2>
  <div class="book-container flex flex-row flex-wrap">
    <section flaviaEnterViewport 
    class="section pb-4 lg:pb-12 flex-col flex 
    items-center mb-8 lg:mb-0  lg:w-1/3  
    md:w-1/2 w-full md:px-8 lg:px-16 py-8" *ngFor="let article of books">
      <picture class="w-1/2  mb-8">
        <source media="(max-width: 599px)" srcset="{{ cmsUrl + article.image.url}}">
        <img flaviaEnterViewport class="w-full" srcset="{{ cmsUrl + article.image.url}} 2x" 
          src="{{ cmsUrl + article.image.url}}" alt="Flavia Home Page Curator London Italy">
      </picture>
      <div class="w-full  content-container flex flex-col">
        <div class="flex-grow flex flex-col justify-center">
          <div class="content mb-6">
            <h2 class="mb-2">{{ article.title }}</h2>
            <h3 class="">{{ article.location }}</h3>
            <h3 class="mb-6">{{ article.titleSecond }}</h3>

            <p class="article">
              {{article.description}}
            </p>
          </div>
          <div class="link mb-8" *ngIf="article.readMoreLink"> <a href="{{article.readMoreLink}}" 
            alt="Read More" target="_blank">Read more</a> </div>
        </div>
      </div>
    </section>
  </div>
</div>