<flavia-header [underline]="true"></flavia-header>

<section flaviaEnterViewport class="container mx-auto w-11/12  py-6 lg:py-24">
  <h2 class="my-16">ABOUT</h2>
  <div class="flex-col lg:flex-row flex content-between">
    <div class="w-full lg:w-1/2 content-container flex items-center">
      <div class="content mb-6">
        <p>
          Flavia Frigeri is an art historian, curator, and teaching fellow at University College London. 
          Frigeri is the author of Pop Art and Women Artists, both in Thames & Hudson’s Art Essentials series.
          Victoria Borisova (b. 1986, Nizhny Novgorod, Russia) is a visual artist based in New York City. 
          Transcending multiple disciplines, her work embodies her fascination with the nature of materials and the transformation of spaces. 
          Early exposure to dressmaking has proven to be a significant influence and recurring theme in her work, subsequently being combined with her pursuits in painting and sculpture. 
          The synthesis of these mediums as well as other techniques, including the lost-wax bronze technique she uses to examine the human form, has created a truly unique language. 
          This language creates truly singular works which transforms the spaces they occupy, beautiful in not only the refined, boundary pushing techniques utilized but also the fleeting and finite nature of their existence. Borisova holds a Master’s degree in Economics from Lobachevsky University of Nizhny Novgorod, Russia, an Associate’s Degree in Fine Arts from LaGuardia College (CUNY), New York, United States, and a certificate in Fine Arts from National Academy School of Fine Arts, New York.
        </p>
      </div>
    </div>
    <picture class="w-full lg:w-1/2 lg:ml-32">
      <source media="(max-width: 599px)" srcset="../assets/flavia-about-page.png">
      <img flaviaEnterViewport class="w-full" srcset="../assets/flavia-about-page@2x.png 2x" src="../assets/flavia-about-page.png" alt="Flavia Home Page Curator London Italy">
    </picture>
  </div>
</section>
<flavia-quote [showIcon]="false">
  Flavia Frigeri is an art historian, curator, and teaching fellow at University College London. 
  Frigeri is the author of Pop Art and Women Artists, both in Thames & Hudson’s Art Essentials series.
</flavia-quote>