@import '../../../styles.scss';

.upcoming {

  .title {
    span {
      border-bottom: 1px solid #8e8e8e4a;
      position: relative;
      top: -10px;
      margin-left: 10px;
      color: $flavia-grey;
    }
  }

  picture {
    img {
      width: 100%;
    }
  }

  p {
    @include font-aktiv-regular;
    line-height: 1.5rem;
    letter-spacing: .4px;
  }

  .link {
    a {
      @include underline(black, visible);
      font-size: 14px;
    }
  }
}