@import '../styles.scss';

.quote {
  line-height: 37px;
  max-width: 768px;
  p {
    display: flex;
    text-align: center;
    .mark-left,
    .mark-right {
      width: 173px;
      height: 173px;
      position: relative;
    }

    .mark-left {
      top: -43px;
      transform: rotate(180deg);
    }

    .mark-right {
      top: -17px;
    }
  }
}

footer {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: $flavia-grey;
  line-height:35px;
  padding-bottom: 0!important;

  > .footer-container {
    padding: 35px 0;
    .stay-in-touch {
      display: flex;
      justify-content: space-between;
      .social-media {
        display: flex;
        img {
          margin: 0 15px;
        }
      }
    }
    .copyright {
      margin-top: 40px;
    }
  }

  .elsa {
    text-decoration: underline;
  }
}