<header id="header" class="transition-all ease-in-out  duration-1000">
  <div class="container mx-auto flex flex-row justify-between 
    items-center transition-all delay-500 ease-in-out duration-800 py-8"> 
    <span><img src="../assets/Flavia Logo.svg" alt="Flavia Frigeri"></span>
    <nav class="flex flex-row space-x-4">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Exibitions</a>
      <a href="#">Books</a>
      <a href="#">Essays</a>
      <a href="#">Teaching</a>
      <a href="#">Talks</a>
      <a href="#">News</a>
    </nav>
  </div>
</header>
<img
  class="w-full flavia-main-picture"
  src="../assets/flavia-tate-slideshow1.png"
  alt="Flavia Home Page Curator London Italy"
/>

<section class="py-24 mx-auto quote">
  <p>
    <span> <img src="../assets/quote.svg" alt="" class="mark-left" /></span>
    Flavia Frigeri is an art historian, curator, and teaching fellow at
    University College London. Frigeri is the author of Pop Art and Women
    Artists, both in Thames & Hudson’s Art Essentials series.
    <span> <img src="../assets/quote.svg" alt="" class="mark-right" /></span>
  </p>
</section>

<footer class="py-24 container mx-auto">
  <hr />
  <div class="footer-container">
    <div class="stay-in-touch">
      <div class="contact">
        <div>
          Email:
          <a href="mailto:flavia.frigeri@gmail.com">flavia.frigeri@gmail.com</a>
        </div>
        <div>Mobile: +1 (929) 356-6087</div>
      </div>
      <div class="social-media">
        <div>
          <a href="https://www.instagram.com/flavia_fffff/" target="_blank">
            <img src="../assets/insta.svg" alt="Instagram" />
            <span>Instagram</span>
          </a>
        </div>
        <div>
          <a href="https://uk.linkedin.com/in/flavia-frigeri-3610b222/en-us" target="_blank">
            <img src="../assets/Linkedin.svg" alt="Linkedin" />
            <span>Linkedin</span>
          </a>
        </div>
      </div>
    </div>
    <div class="copyright">
      COPYRIGHT © 2021 FLAVIA FRIGERI SITE BY
      <a class="elsa" href="https://www.elsabenoldi.com">ELSA BENOLDI</a>
      
    </div>
  </div>
 
</footer>
