<header id="header" class="transition-all ease-in-out ">
  <div class="main-container mx-auto flex flex-row justify-between md:px-4 px-3
    items-center transition-all delay-100 ease-in-out  py-8"> 
  
    <span> <a href="#"><img src="../assets/Flavia-Logo.svg" alt="Flavia Frigeri" class="flavia-logo"></a> </span>
  
    <nav class="flex-row space-x-6 hidden lg:flex" >
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Exibitions</a>
      <a href="#">Books</a>
      <a href="#">Essays</a>
      <a href="#">Teaching</a>
      <a href="#">Talks</a>
      <a href="#">News</a>
    </nav>

    <div class="menu-icon lg:hidden"  (click)="toggleMenu()" >
      <input class="menu-icon__cheeckbox" type="checkbox" />
      <div>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="nav" [class.nav-active]="isMobileMenuActive" >
      <div class="nav__content">
        <ul class="nav__list flex flex-col laptop:flex-row ">
          <li class="nav__list-item">Home</li>
          <li class="nav__list-item">About</li>
          <li class="nav__list-item">Exibitions</li>
          <li class="nav__list-item">Books</li>
          <li class="nav__list-item">Essays</li>
          <li class="nav__list-item">Teaching</li>
          <li class="nav__list-item">Talks</li>
          <li class="nav__list-item">News</li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- <img
  class="w-full flavia-main-picture"
  src="../assets/flavia-tate-slideshow1.png"
  alt="Flavia Home Page Curator London Italy"
/> -->

<picture >
  <source media="(max-width: 599px)" srcset="../assets/Flavia-mobile.jpg">
  <source media="(min-width: 600px)" srcset="../assets/flavia-tate-slideshow1.png">
  <img flaviaEnterViewport class="w-full flavia-main-picture" src="../assets/flavia-tate-slideshow1.png" alt="Flavia Home Page Curator London Italy">
</picture>

<section flaviaEnterViewport class="main-container  py-24 mx-auto quote md:px-4 px-3">
  <p class="md:text-center text-left">
    Flavia Frigeri is an art historian, curator, and teaching fellow at
    University College London. Frigeri is the author of Pop Art and Women
    Artists, both in Thames & Hudson’s Art Essentials series.
  </p>
</section>


<section flaviaEnterViewport class="upcoming main-container  py-24 mx-auto  md:px-4 px-3 flex-col lg:flex-row flex">
  <!-- <div class="title mb-32 w-full lg:w-1/2 flex md:hidden">
    <h3>UPCOMING</h3>
    <span class="hr-line flex-grow">&nbsp;</span>
  </div> -->
  <picture class="w-full lg:w-1/2">
    <source media="(max-width: 599px)" srcset="../assets/upcoming.png">
    <img flaviaEnterViewport class="w-full" srcset="../assets/upcoming@2x.png 2x" src="../assets/upcoming.png" alt="Flavia Home Page Curator London Italy">
  </picture>
  <div class="w-full lg:w-1/2 content-container lg:ml-32">
    <div class="title md-mb-2 lg:mb-4 xl:mb-32  flex py-8 lg:py-0">
      <h3>UPCOMING</h3>
      <span class="hr-line flex-grow">&nbsp;</span>
    </div>
    <div class="content mb-6">
      <h2 class="mb-2">GREAT WOMEN ARTIST</h2>
      <h3 class="mb-6">NATIONAL PORTRAIT GALLERY</h3>
      <p>
        Flavia Frigeri is an art historian, curator, and teaching fellow 
        at University College London. Frigeri is the author of Pop Art and Women Artists, 
        both in Thames & Hudson’s Art Essentials series.
      </p>
    </div>
    <div class="link"> <a href="">Read more</a> </div>
  </div>
</section>

<footer flaviaEnterViewport class="py-24 main-container mx-auto md:px-4 px-3">
  <hr />
  <div class="footer-container">
    <div class="stay-in-touch">
      <div class="contact">
        <div>
          Email:
          <a href="mailto:flavia.frigeri@gmail.com">flavia.frigeri@gmail.com</a>
        </div>
        <div>Mobile: +1 (929) 356-6087</div>
      </div>
      <div class="social-media">
        <div>
          <a href="https://www.instagram.com/flavia_fffff/" target="_blank">
            <img src="../assets/insta.svg" alt="Instagram" />
            <span>Instagram</span>
          </a>
        </div>
        <div>
          <a href="https://uk.linkedin.com/in/flavia-frigeri-3610b222/en-us" target="_blank">
            <img src="../assets/Linkedin.svg" alt="Linkedin" />
            <span>Linkedin</span>
          </a>
        </div>
      </div>
    </div>
    <div class="copyright">
      COPYRIGHT © 2021 FLAVIA FRIGERI SITE BY
      <a class="elsa" href="https://www.elsabenoldi.com" target="_blank">ELSA BENOLDI</a>
      
    </div>
  </div>
 
</footer>
