@import '../styles.scss';
$transition--length: .8;
$background--color:#1e2023;
$icon--color:#1e2023;
$font--color:#ffffff;
$font--color--active:#000000;
$font--primary:'Fira Sans',
sans-serif;
$transition--length: .8;
$header-height: 85px;

header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  transition: all 2s ease-out;

  >div {
    transition: all 0.5s ease-out;
  }

  .flavia-logo {
    width: 212px;
  }

  nav {
    @include font-aktiv-regular;
    text-transform: uppercase;
    letter-spacing: 1px;

    >a {
      display: inline-block;
      width: 100%;
      @include underline(black);

    }
  }

  &.shrink {

    transition: all 0.6s ease-out;

    &.hide {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  .menu-icon {
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 2;

    .menu-icon__cheeckbox {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer;
      z-index: 2;
      -webkit-touch-callout: none;
      position: absolute;
      opacity: 0;
    }

    div {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 22px;
      height: 12px;
    }

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--bar-bg, #000);
      border-radius: 1px;
      transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

      &:first-of-type {
        top: 0;
      }

      &:last-of-type {
        bottom: 0;
      }
    }

    &.active,
    .menu-icon__cheeckbox:checked+div {
      span {
        &:first-of-type {
          transform: rotate(45deg);
          top: 5px;
        }

        &:last-of-type {
          transform: rotate(-45deg);
          bottom: 5px;
        }
      }
    }

    &.active:hover span:first-of-type,
    &.active:hover span:last-of-type,
    &:hover .menu-icon__cheeckbox:checked+div span:first-of-type,
    &:hover .menu-icon__cheeckbox:checked+div span:last-of-type {
      width: 22px;
    }

    &:hover {

      // no need hover effect on mobile.
      @media (min-width: 1024px) {
        span:first-of-type {
          width: 26px;
        }

        span:last-of-type {
          width: 12px;
        }
      }
    }
  }

  .nav {
    $width: 100vw;
    $height: 100vh;
    $font--size--calc: calc(2vw + 10px);
    $transition--easing: cubic-bezier(.77, 0, .175, 1);
    position: fixed;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    left: 0;

    &:before,
    &:after {
      content: "";
      position: fixed;
      top: 0;
      width: $width;
      height: $height;
      background: rgba(#eaeaea, .2);
      z-index: -1;
      transition: transform $transition--easing $transition--length + s;
      transform: translateX(0%) translateY(-100%);
    }

    &:after {
      background: rgba(#ffffff, 1);
      transition-delay: 0s;
    }

    &:before {
      transition-delay: .1s;
    }

    &__content {
      position: fixed;
      top: 50%;
      transform: translate(0%, -50%);
      width: 100%;
      text-align: center;
      font-size: $font--size--calc;
      font-weight: 200;
      cursor: pointer;
      z-index: 2;
    }

    &__list-item {
      @include font-aktiv-regular;
      font-weight: 200;
      text-transform: uppercase;
      font-size: 1.5rem;
      margin-bottom: .7rem;
      transition-delay: $transition--length + s;
      opacity: 0;
      transform: translate(0%, -60%);
      transition: opacity .2s ease, transform .3s ease;
      margin-right: 25px;

      @include underline(black);

      @include breakpoint-less(md) {
        margin-right: 0;
      }
    }

    &.nav-active {
      $menu--items--count: 8;
      visibility: visible;

      &:before,
      &:after {
        transform: translateX(0%) translateY(0%);
      }

      &:after {
        transition-delay: .1s;
      }

      &:before {
        transition-delay: 0s;
      }

      .nav__list-item {
        opacity: 1;
        transform: translateX(0%);
        transition: opacity .3s ease, transform .3s ease, color .3s ease;

        @for $i from 0 through $menu--items--count {
          &:nth-child(#{$i}) {
            transition-delay: $transition--length * $i / 8 + .3 + s;
          }
        }
      }

    }
  }
}

.flavia-main-picture {
  margin-top: 84px;
}

.quote {
  line-height: 37px;
  width: 100%;


  p {
    display: flex;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    position: relative;
    max-width: 836px;
    margin: 0 auto;

    @include breakpoint-less(md) {
      font-size: 24px;
    }

    &:before,
    &:after {
      content: "\00a0";
      position: absolute;
      width: 50px;
      height: 100px;
      background: url("../assets/quote.svg") no-repeat center;
      background-size: 113%;
      z-index: -1;

      @include breakpoint-less(lg) {
        background-size: 125%;
        height: 150px;
        width: 65px;
      }
    }

    &:before {
      top: -15px;
      transform: rotate(180deg);
      left: -53px;

      @include breakpoint-less(lg) {
        top: -50px;
        left: 0;
      }
    }

    &:after {
      bottom: 0;
      right: -40px;

      @include breakpoint-less(lg) {
        bottom: -37px;
        right: 2px;
      }
    }
  }
}

footer {
  @include font-aktiv-regular;
  color: $flavia-grey;
  line-height: 35px;
  padding-bottom: 0 !important;

  >.footer-container {
    padding: 35px 0;

    // @include breakpoint-less(md) {
    //   padding-left: 1.5rem;
    //   padding-right: 1.5rem;
    // }

    .stay-in-touch {
      display: flex;
      justify-content: space-between;

      @include breakpoint-less(md) {
        flex-direction: column;
      }

      .contact {
        >div {
          position: relative;
        }

        a {
          @include underline($flavia-grey);
          z-index: 3;
        }
      }

      .social-media {
        display: flex;

        @include breakpoint-less(md) {
          margin-top: 1rem;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 15px;

          @include breakpoint-less(md) {
            &:first-of-type {
              margin-left: 0;
            }
          }

          img {
            margin-right: 10px;
          }
        }
      }
    }

    .copyright {
      margin-top: 40px;
    }
  }

  .elsa {
    @include underline($flavia-grey);
  }
}