<header class="container mx-auto flex flex-row justify-between items-center">
  <span>Flavia Frigeri</span>
  <nav class="flex flex-row space-x-4 p-8">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Exibitions</a>
    <a href="#">Books</a>
    <a href="#">Essays</a>
    <a href="#">Teaching</a>
    <a href="#">Talks</a>
    <a href="#">News</a>
  </nav>
</header>
<img
  class="w-full"
  src="../assets/flavia-tate-slideshow1.png"
  alt="Flavia Home Page Curator London Italy"
/>

<section class="py-24 mx-auto quote">
  <p>
    <span> <img src="../assets/quote.svg" alt="" class="mark-left" /></span>
    Flavia Frigeri is an art historian, curator, and teaching fellow at
    University College London. Frigeri is the author of Pop Art and Women
    Artists, both in Thames & Hudson’s Art Essentials series.
    <span> <img src="../assets/quote.svg" alt="" class="mark-right" /></span>
  </p>
</section>

<footer class="py-24 container mx-auto">
  <hr />
  <div class="footer-container">
    <div class="stay-in-touch">
      <div class="contact">
        <div>
          Email:
          <a href="mailto:flavia.frigeri@gmail.com">flavia.frigeri@gmail.com</a>
        </div>
        <div>Mobile: +1 (929) 356-6087</div>
      </div>
      <div class="social-media">
        <img src="../assets/insta.svg" alt="Instagram" />
        <img src="../assets/Linkedin.svg" alt="Linkedin" />
      </div>
    </div>
    <div class="copyright">
      COPYRIGHT © 2021 FLAVIA FRIGERI SITE BY
      <a class="elsa" href="https://www.elsabenoldi.com">ELSA BENOLDI</a>
    </div>
  </div>
 
</footer>
