<flavia-header [underline]="true"></flavia-header>

<div class="container mx-auto  w-11/12 py-6 lg:py-24" >
  <h2 class="mb-10 mt-20 lg:mt-12">TALKS</h2>
  <section flaviaEnterViewport class="upcoming py-4 lg:py-12 flex-col lg:flex-row flex" *ngIf="lastTalk"> 
    <div class="w-full lg:w-1/2 content-container lg:mr-32 flex flex-col">
      <div class="title  flex py-8 lg:py-0">
        <h3>UPCOMING</h3>
        <span class="hr-line flex-grow">&nbsp;</span>
      </div>
    </div>

    <div class="flex-grow flex flex-col justify-center w-full lg:w-1/2 ">
      <div class="content mb-6">
        <h2 class="mb-2">{{lastTalk.title }}</h2>
        <h3>{{getDate(lastTalk.date) }}</h3>
        <h3 class="mb-6">{{ lastTalk.location }}</h3>
        <p>
          {{lastTalk.description}}
        </p>
      </div>
      <div class="link "  *ngIf="lastTalk.readMoreLink"> <a href="{{lastTalk.readMoreLink}}" alt="Read More" target="_blank">Read more</a> </div>
    </div>
    
  </section>

  <div class="title  flex py-8 lg:py-0">
    <h3>Past</h3>
    <span class="hr-line flex-grow">&nbsp;</span>
  </div>

  <section flaviaEnterViewport class="upcoming py-4 lg:py-12 flex-col lg:flex-row flex container mx-auto  w-11/12 mb-8 lg:mb-0">
    <picture class="w-full lg:w-1/2 mb-8 lg:mb-0 lg:pr-16">
      <source media="(max-width: 599px)" srcset="{{ cmsUrl + mainTalkImg }}">
      <img flaviaEnterViewport class="w-full" srcset="{{ cmsUrl + mainTalkImg }} 2x" src="{{ cmsUrl + mainTalkImg }}" alt="Flavia Home Page Curator London Italy">
    </picture>
    <div class="w-full lg:w-1/2 " *ngIf="talks">
      <div class="content-container lg:ml-16 flex flex-col" *ngFor="let article of talks">
        <div class="flex-grow flex flex-col justify-center">
          <div class="content mb-6">
            <h2 class="mb-2">{{article.title}}</h2>
            <h3>{{getDate(article.date)}}</h3>
            <h3 class="mb-6">{{article.location }}</h3>
            <p class="article">
              {{ article.description}}
            </p>
          </div>
          <div class="link mb-16"  *ngIf="article.readMoreLink"> <a href="{{article.readMoreLink}}" alt="Read More" target="_blank">Read more</a> </div>
        </div>
      </div>
    </div>
  </section>
</div>
