@import "../../../styles.scss";

h2,h3 {
  text-transform: uppercase;
}

.essay-container:last-of-type {
    hr {
      display: none;
    }
}

section {
  p {
    @include font-aktiv-regular;
    line-height: 1.5rem;
    letter-spacing: .4px;
  }
  h2.essay-description p {
    @include font-aktiv-regular;
    font-weight: 400;
    font-size: 15px;
  }
}
img {
  @include breakpoint-above(md) {
    position: sticky;
    top: 0;
  }
}