@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* You can add global styles to this file, and also import other style files */
@import url("https://use.typekit.net/xcw2yqm.css");

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap');







$flavia-grey: #8E8E8E;
$transition--length: .8;
$background--color:#1e2023;
$icon--color:#1e2023;
$font--color:#ffffff;
$font--color--active:#000000;
$font--primary:'Fira Sans',
sans-serif;
$transition--length: .8;
$header-height: 85px;

@import './scss/base-layout';

.enter-view-port.visible {
  opacity: 1;
  transform: translateZ(0);
}

.enter-view-port {
  opacity: 0;
  transform: translate3d(0, -30px, 0);
  transition: transform 5s cubic-bezier(.18, 1, .21, 1), opacity 5s cubic-bezier(.18, 1, .21, 1);

  &.visible {
    opacity: 1;
    transform: translateZ(0);
  }
}

@mixin font-aktiv-regular {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

@mixin underline($color, $visible: invisible) {
  position: relative;

  @if $visible==visible {
    &:before {
      width: 100% !important;
    }
  }

  &:before {
    content: "";
    position: absolute;
    background: $color;
    width: 0;
    height: 1px;
    top: 100%;
    transform: translate(0%, 0%);
    transition: all .3s ease;
    z-index: -1;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  @include font-aktiv-regular;
  font-size: 15px;
  color: $flavia-grey;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  @include font-aktiv-regular;
  font-size: 31px;
  color: black;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;

}

section {
  h2 {
    font-size: 25px;
  }
}

section {
  .essay-description, .talk-description {
    p {
      @include font-aktiv-regular;
      font-size: 15px;
    }
  }
}

.page-intro {
  font-size: 18px;
  font-family: ivyjournal, sans-serif;
  line-height: 32px;
}

.link {
  @include font-aktiv-regular;
  font-size: 15px;
  color: black;

  a {
    @include underline(black, visible);
  }
}

p {
  font-family: ivyjournal, sans-serif;
  font-weight: 300;
  font-style: normal;

  &.article {
    @include font-aktiv-regular;
    line-height: 1.5rem;
    letter-spacing: .4px;
    letter-spacing: 0.4px;
  }
}

.social-media {
  display: flex;

  @include breakpoint-less(md) {
    margin-top: 1rem;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;

    @include breakpoint-less(md) {
      &:first-of-type {
        margin-left: 0;
      }
    }

    img {
      margin-right: 10px;
    }
  }
}

@import './scss/upcoming';