@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
@import url("https://use.typekit.net/xcw2yqm.css");

@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap');

$flavia-grey: #8E8E8E;

@mixin font-aktiv-regular{
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: ivyjournal, sans-serif;
  font-weight: 300;
  font-style: normal;
}


